*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #104730;
}

.container {
  max-width: 1280px;
  margin: auto;
}

/* Flex */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

/* Flex */

/* Input */

input {
  @extend .border-radius, .border-0, .outline-0;
  background-color: $lightBrown;
  padding: 5px 10px;
  color: $darkGreen;


  &::placeholder {
    color: $darkGreen;
  }

  &:focus {
    border: 2px solid $darkBrown;
  }
}

/* input[type='text'] {
  color: $darkGreen;
} */

/* Input */
