*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

body {
  background-color: $darkGreen;
}

.container {
  max-width: 1280px;
  margin: auto;
}

/* Flex */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-end{
  align-items: flex-end;
}

.items-stretch{
  align-items: stretch;
}

.self-center {
  align-self: center;
}

.gap-2 {
  gap: 2px;
}

.gap-16 {
  gap: 16px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* Flex */

/* Position */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Position */

.text-center {
  text-align: center;
}

.height-auto {
  height: auto;
}

.width-auto {
  width: auto;
}

/* Input */

input {
  @extend .border-radius, .outline-0;
  background-color: $lightBrown;
  padding: 5px 10px;
  color: $darkGreen;
  border: 2px solid transparent;

  &::placeholder {
    color: $darkGreen;
  }

  &:focus {
    border: 2px solid $darkBrown;
  }
}

/* input[type='text'] {
  color: $darkGreen;
} */

/* Input */

