.border-radius {
  border-radius: 8px;
}

.border-0 {
  border: 0;
}

.outline-0 {
  outline: 0;
}

.margin-5 {
  margin: 5px;
}

.width-full {
  width: 100%;
}

.lane-marker {
  &::marker {
    content: 'Lane ' counter(list-item) ': ';
  }
}
