button,
.button {
  @extend .border-radius;
  cursor: pointer;
  background-color: $lightBrown;
  color: $darkGreen;
  padding: 5px 10px;
  border: 2px solid $darkBrown;
  font-size: 16px;

  &:hover {
    background-color: $darkBrown;
    color: $lightBrown;
    border: 2px solid $whiteBrown;
  }

  &:disabled {
    cursor: context-menu;
    opacity: 0.5;
    background-color: $darkBrown;
    border: 2px solid $darkBrown;
    color: $whiteBrown;
  }
}
