.header {
  @extend .flex, .justify-center;
  @include breakpoint-up(medium) {
    margin: 50px 0 0 0;
  }

  &__text {
    border: 3px solid $darkBrown;
    color: $lightGreen;
    background-color: $lightBrown;
    font-size: 32px;
    font-weight: 700;
    padding: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-shadow: 4px 4px $whiteBrown;

    @include breakpoint-up(medium) {
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      padding: 24px;
    }
  }
}
