.race {
  @extend .container, .flex, .border-radius, .gap-16;
  border: 2px solid $darkBrown;
  padding: 35px;
  justify-content: center;
  align-items: center;

  @include breakpoint-down(medium) {
    flex-direction: column;
  }

  &__track {
    @extend .flex, .flex-column, .justify-center, .width-full;
    background-color: $darkGreen;
  }

  &__buttons {
    @extend .flex, .gap-2;
  }

  &__button {
    @extend .width-full;
  }

  &__count-down {
    @extend .absolute,
      .border-radius,
      .self-center,
      .flex,
      .items-end,
      .justify-center;
    background-image: url('@/assets/images/start.gif');
    background-size: cover;
    width: 200px;
    height: 200px;
    z-index: 25;
    border: 2px solid $darkBrown;
  }

  &__interface {
    @extend .flex, .flex-column, .border-radius, .gap-16;
    padding: 10px;
    background-color: $lightBrown;
    border: 2px solid $darkBrown;
    width: 30%;
    color: $darkGreen;

    @include breakpoint-down(medium) {
      width: 100%;
    }
  }

  &__invalid {
    @extend .flex, .justify-center, .items-center;
  }

  &__leaderboard {
    @extend .flex, .flex-column, .gap-16, .items-stretch;
  }

  &__horse-name {
    @extend .flex, .flex-column, .gap-16, .items-stretch;
  }

  &__result {
    @extend .flex, .flex-column, .gap-16, .items-stretch;
  }

  &__list {
    @extend .flex, .flex-column, .text-center, .gap-2;
  }

  &__title {
    @extend .text-center;
    font-size: 18px;
  }

  &__list-item {
    @extend .border-radius, .width-full;
    background-color: $whiteBrown;
    padding: 3px;
    list-style-position: inside;

    &--finished {
      background-color: $darkGreen;
      color: $whiteBrown;
    }
  }

  &__lane {
    @extend .flex;
    padding-right: 75px;
    padding-left: 30px;

    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &--dark {
      background-color: $whiteGreen;
    }

    &--light {
      background-color: $lightGreen;
    }
  }

  &__point {
    @extend .inline-block;
    border-left: 3px solid $lightBrown;

    &--finish {
      margin-left: auto;
    }
  }

  &__horse {
    @extend .inline-block, .relative, .height-auto;
    width: 60px;
    margin: 5px 0;
  }

  &__lane-name {
    @extend .flex, .justify-center, .items-center, .width-full, .relative;
    color: $lightBrown;
    opacity: 0.5;
    overflow-wrap: anywhere;
  }
}
